@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root
{
    --second-color: #709775;
    --main-color: #4B4237;
    --bg-color: #DDDDDD;
}

body
{
    height: 100vh;
}

.container
{
    display: flex;
    flex-direction: row;
    height: 100%;
}

/*NAVBAR*/

.navbar{
    width: 100%;
    background-color: var(--main-color);
    color: white;
    width: 250px;
    height: 100%;
    z-index: 2;
    flex-shrink: 0;
}

.navbar > div
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-element > span
{
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.navbar-element > p
{
    font-size: 18px;
    font-weight: bold;
}

.nav-main
{
    margin-top: 30px;
}

.nav-main > p
{
    font-size: 30px;
}

.nav-main > span
{
    font-size: 50px;
}

.nav-margin
{
    margin-bottom: 30px;
}

/*TOP*/

.main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.top
{
    padding: 10px 0;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 5fr 3fr;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.img-container > img{
    border: 3px solid var(--main-color);
    border-radius: 50%;
    display: block; 
}

.greeting
{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 100px;
    font-size: 24px;
}

.profile
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 100px;
    gap: 30px;
}

.notif > span
{
    font-size: 30px;
}

.prof-summary
{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 50px;
    margin-left: 100px;
}

.buttons
{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 50px;
    margin-right: 100px;
}

.buttons > button
{
    outline: none;
    border: none;
    padding: 15px 35px;
    background-color: var(--main-color);
    color: white;
    font-size: 20px;
    border-radius: 25px;
}

/*MAIN*/

.stuff
{
    flex-grow: 1;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
}

.projects
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.projects > h2
{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 36px;
}

.project-wrapper
{
    flex-grow: 1;
    margin-top: 15px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding: 0 25px 25px 25px;
}

.project-card
{
    display: flex;
    justify-content: right;
    background-color: var(--second-color);
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.2);
}

.project-info
{
    width: 97%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    word-break: break-word;
    display: flex;
    flex-direction: column;
}

.project-info > h4
{
    text-align: left;
    font-size: 24px;
    margin-bottom: 5px;
}

.icons
{
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: right;
}

.icons > span
{
    padding: 8px;
    font-size: 30px;
}


/*NEWS*/

.news
{
    width: clamp(150px, 30%, 500px);
    flex-shrink: 0;
    border: 1px solid red;
}